.login-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #452727;
  }
  